#g-navigation {
 .g-content{
  margin: 0;
  padding: 0;
  nav.g-main-nav ul.g-toplevel {
   margin-top: 10px;
   text-align: center;
   li {
    margin: 0 2 0 2;
   }
  }
 }

 .g-main-nav .g-toplevel {
  line-height: 0;
  li {
   background: rgb(224, 190, 71);

   border-radius: 8px 8px 0 0;
   -webkit-border-radius: 8px 8px 0 0;
   -moz-border-radius: 8px 8px 0 0;

   text-align: center;
   padding: 4px;
  }
 }
}

.platform-content, .moduletable, .widget {
 padding: 0.6rem 0;
}

#g-aside, #g-sidebar, #g-mainbar {
 padding: 0;
}

#g-navigation {
 background: rgb(85, 85, 85);
 box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.platform-content .moduletable {
 box-shadow: 0 0 10px rgba(0,0,0,0.5);
 padding: 6px;

 background: rgb(242, 240, 230);
 border: solid 1px rgb(211, 204, 171);
 border-radius: 8px;
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;

 div.search form {
  margin: 0;
  input.search-query {
   width: 100%;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
  }
 }

 #login-form {
  margin: 5;
  .input-prepend .input-small {
   width: 76%;
  }
  ul.unstyled {
   width: 100%;
   padding: 0;
   margin-left: 30px;
   border: none;

   li {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
    list-style-type: circle;
    a {
     box-shadow: none;
    }
   }
  }
 }

 div.g-title, div.banner {
  line-height: 1;
  text-align: center;
  padding: 10px;
  margin-bottom: 6px;

  background: rgb(224, 190, 71);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
 }

 ul.nav.menu {
  background: #555;
  display: inline-block;
  border: none;
  width: 100%;

  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;

  li {
   padding-bottom: 0px;
   margin-bottom: 0px;
   border-bottom: none;

   a {
    color: #999;
    background: rgba(0, 0, 0, 0);
   }

   a:hover {
    color: #bbb;
    background: rgba(0, 0, 0, 0.1);

    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
   }
  }

  li.active a, li.active a:hover {
   color: #fff;
   background: rgba(0, 0, 0, 0.4);

   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
  }
 }

 ul li + li a {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
 }

 .menu {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
   margin:0;
   padding:0;
   position: relative;

   a {
    display: block;
    margin: 0;
    padding: 2px 20px;
    text-decoration: none;
   }
  }

  li.active > a:hover {
   cursor: default;
  }
 }

}