body {
 width: 1200px;
 margin: 0px auto 0px auto;
 padding: 0px 10px;
 background: rgb(245, 232, 213);

 background-image: url('../images/bg.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: bottom left;

 border: 3px solid rgb(211, 204, 171);
 border-radius: 0px 0px 6px 6px;
 -webkit-border-radius: 0px 0px 6px 6px;
 -moz-border-radius: 0px 0px 6px 6px;
 border-top: 0;

 font: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
 color: #393E37;
}

a {
 color: #B3911A;
}

a:visited {
 color: #B3911A;
}
/*
p {
    margin: 20px 0;
}

.pull-left {
 float: left;
}

.pull-right {
 float: right;
}

.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.inputbox {
    padding: 0 10px;
    height: 30px;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    color: #b2b2b2;
    vertical-align: top;
}

.button {
    height: 32px;
    border: none;
    background-color: #29c5e6;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.image {
    outline: 1px solid #c9c9c9;
    border: 1px solid #fff;
}
*/