<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id={YANDEX_ID}&amp;from=informer" target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/{YANDEX_ID}/{YANDEX_SIZE}_{YANDEX_ARROWCOLOR}_{YANDEX_COLORBEGIN}_{YANDEX_COLOREND}_{YANDEX_TEXTCOLOR}_{YANDEX_VIEW}" style="{YANDEX_STYLE}" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня ({YANDEX_VIEW_TITLE})" class="ym-advanced-informer" data-cid="{YANDEX_ID}" data-lang="ru" /></a>
<!-- /Yandex.Metrika informer -->