div.journal TABLE.issues
{
 width: 100%;
 border-bottom: solid 2px #F0DC7E;
 border-left: solid 2px #F0DC7E;
}

div.journal TABLE.issues TH
{
 background-color: #F3F1E7;
}

div.journal P.caption
{
 text-align: left;
 border-top: solid 2px #F0DC7E;
 border-bottom: solid 2px #F0DC7E;
 background-color: #F3F1E7;
 padding: 5px;
}

div.journal P.jheader
{
 border-top: 1px solid #D4CCAA;
 border-bottom: 1px solid #D4CCAA;
 background-color: #F2F0E6;
 text-align: center;
 font-weight: bold;
 padding: 5px;
}

div.journal ul.menu
{
 text-align: left;
 border-top: solid 2px #F0DC7E;
 border-bottom: solid 2px #F0DC7E;
 background-color: #F3F1E7;
 padding: 5px;
}

div.journal ul.menu li
{
 list-style-type: none;
 padding: 0 0 0 1em;
 line-height: 1.4;
}

div.journal
{
 position: relative;
}

div.journal ul.oglavl
{
 padding: 0 4em 0 1em;
}

div.journal ul.oglavl li
{
 margin: 0.5em 0 0.5em 0;
 list-style-type: none;
}


div.journal ul.oglavl span.page
{
 position: absolute;
 right: 0;
}
